	
	
	
	.menubar { background-color: #98bf21; height:10px;}	
	
	.content {background-color:#BDBDBD; margin:0 auto; width:75%; text-align:left; border: 2px solid black; }
	
	h1 {text-align:center; color:#036; font-size: 24pt; font-weight:bold; font-variant:small-caps; height:60px; margin-bottom: 0px; padding-left:10px; padding-top:15px;}
	
	h2 {text-align:left; color:#036; font-size: 18pt; font-weight:bold; font-variant:small-caps; height:20px; margin-bottom: 0px; padding-left:10px; padding-top:0px;}
		
	#custom {text-align:left; color:#036; font-size: 18pt; font-weight:bold; font-variant:small-caps; height:20px; margin-bottom: 0px; padding-left:10px; padding-top:40px;}
	
	/* Formatting for top navigation buttons on the web site */
		ul #navlist{list-style-type:none; margin: 0px; padding-left: 0px;}
		#navlist li{ display:block; float:left; font-weight:bold; text-align:center; font-variant:small-caps; }
		#navlist a { padding: 10px 25px; }
		#navlist a:link, #navlist a:visited { color: #fff; background-color: #036; text-decoration: none; }
		#navlist a:hover { color: #fff; background-color: #98bf21; text-decoration: none; }
		
		/* Formatting to highlight the navigation button corresponding to the page you are on... breadcrumb. */
		body#home  a#homenav, body#Resume a#resumenav, body#LinkedIn a#linkedInnav, body#Email a#emailnav 
			{ color: #fff; background-color: #98bf21; text-decoration: none; }